head
	block head

	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='imagetoolbar' content='no')
	meta(name='msthemecompatible' content='no')
	meta(name='cleartype' content='on')
	meta(name='HandheldFriendly' content='True')

	meta(name='format-detection' content='telephone=no')
	meta(name='format-detection' content='address=no')

	meta(name='google' value='notranslate')

	meta(name='theme-color' content='#ffffff')

	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

	meta(name='application-name' content=page.title || '')
	meta(name='msapplication-tooltip' content=page.description || '')
	meta(name='msapplication-TileColor' content='#ffffff')
	meta(name='msapplication-TileImage' content='/mstile-large.png')
	meta(name='msapplication-starturl' content='https://csssr.github.io/csssr-project-template/')
	meta(name='msapplication-tap-highlight' content='no')
	meta(name='msapplication-square70x70logo' content='/mstile-small.png')
	meta(name='msapplication-square150x150logo' content='/mstile-medium.png')
	meta(name='msapplication-wide310x150logo' content='/mstile-wide.png')
	meta(name='msapplication-square310x310logo' content='/mstile-large.png')

	//- http://realfavicongenerator.net/faq#why_ico_not_declared

	title=page.title || ''
	meta(name='description' content=page.description || '')
	meta(name='keywords' content=page.keywords || '')

	link(href='/assets/styles/app.min.css' rel='stylesheet')
